body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.socialmediaicons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialmediaicons ul li {
  display: inline-block;
  margin-left: 5px;
}

.socialmediaicons ul li img {
  width: 30px;
  border-radius: 50%;
}

.socialmediaicons{
	text-align: center;
}
.hidden {
  display: none;
}
.disabled-button {
  background-color: #d3d3d3; /* Gray color */
  color: #ffffff;
  pointer-events: none; /* Makes it not clickable */
}
.rotate {
  transform: rotate(180deg); /* Rotate the arrow by 180 degrees */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}
