#about {
  padding-top: $paddingLg;
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .about-text,
    .about-img {
      flex: 1;
    }
  }

  p {
    font-size: 18px;
  }
}
